<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md-3">
      <div class="col">
        <div class="fs-5 mb-3 text-muted">Billing Details</div>
        <div class="card  bg-body-tertiary mb-3  shadow-sm border-0">
          {{#if payments.notpaid}}
          {{#each payments.notpaid}}
          <div class="card-body">
            <div class="mb-4 text-dark">
              <h3 class="h4 mb-0">{{this.username}}</h3>
            </div>
            <ul class="list-unstyled mb-4">
              <li class="mb-3">
                <i data-bs-toggle="tooltip" data-bs-title="Mobile"
                  class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>
                {{this.mobile}}
              </li>
              <li class="mb-3">
                <i data-bs-toggle="tooltip" data-bs-title="Customer id"
                  class="fa-solid fa-user display-25 me-3 text-secondary"></i>
                {{this.cid}}
              </li>
              <li class="mb-3">
                <i data-bs-toggle="tooltip" data-bs-title="Key"
                  class="fa-solid fa-key display-25 me-3 text-secondary"></i>
                {{this.key}}
              </li>
              <li class="mb-3">
                <i data-bs-toggle="tooltip" data-bs-title="Amount"
                  class="fa-solid fa-sack-dollar display-25 me-3 text-secondary"></i>
                {{this.amount}}
              </li>
              <li class="mb-3">
                <i data-bs-toggle="tooltip" data-bs-title="Issue Date"
                  class="fa-solid fa-calendar-days display-25 me-3 text-secondary"></i>
                {{this.createdAt}}
              </li>
            </ul>
            <button class="btn btn-success" onclick="payNow('{{this._id}}')">Pay Now</button>
          </div>
          {{/each}}
          {{else}}
          <div class="card-body">
            <div class="fs-5">No Pending Payments</div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="fs-5 mb-3">Previous payments</div>
      <table class="table mb-4">
        <thead class="table-dark">
          <tr>
            <th scope="col">Consumption (KWH)</th>
            <th scope="col">Amount (Rs)</th>
            <th scope="col">Billing date</th>
            <th scope="col">Payment date</th>
            <th scope="col">Payment Id</th>
          </tr>
        </thead>
        <tbody id="item-list">

        </tbody>
      </table>
        <ul class="pagination justify-content-center pagination-sm">
          <li class="page-item shadow-none">
            <button class="page-link shadow-none" id="prev">Previous</button>
          </li>
          <li class="page-item">
            <div class="page-link shadow-none" id="current-page"></div>
          </li>
          <li class="page-item shadow-none">
            <button class="page-link shadow-none" id="next">Next</button>
          </li>
        </ul>
    </div>
  </div>
</div>


<script>
  function payNow(id) {
    let check = confirm("Confirm Payment")
    if (check) fetch(`/paynow/${id}`).then(() => {
      alert("Payment Complete")
      location.reload();
    });
  }
</script>

<script>
  let page = 1;
  let pages = 0;
  let tableBody = document.querySelector('#item-list');
  function generateRow(page) {
    fetch(`/paid-bill/${page}`,
      {
        headers: {
          'Cache-Control': 'no-cache'
        }
      }).then(response => response.json()).then((dataToShow) => {
        pages = dataToShow.pages;
        let data = dataToShow.paid;
        tableBody.innerHTML = "";
        for (let i = 0; i < data.length; i++) {
          let row = document.createElement('tr');

          let consumption = document.createElement('td');
          consumption.innerHTML = data[i].consumption;
          row.appendChild(consumption);

          let amount = document.createElement('td');
          amount.innerHTML = data[i].amount;
          row.appendChild(amount);

          let createdAt = document.createElement('td');
          createdAt.innerHTML = data[i].createdAt;
          row.appendChild(createdAt);

          let updatedAt = document.createElement('td');
          updatedAt.innerHTML = data[i].updatedAt;
          row.appendChild(updatedAt);

          let _id = document.createElement('td');
          _id.innerHTML = data[i]._id;
          row.appendChild(_id);

          tableBody.appendChild(row);
          document.querySelector('#current-page').innerText = page;
        }
      }).catch((e) => console.log(e));
  }
  generateRow(1);
  document.querySelector('#prev').addEventListener('click', ()=>{
    if(page>1){
    generateRow(--page);
    }
    }
    )
  document.querySelector('#next').addEventListener('click', ()=>{
    if(page<pages){
      generateRow(++page);
      }
      }
      )
</script>